<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand " href="#">
      <img src="./assets/image/logo.png" width="70%" class="img-responsive"  />
    </a>
    <!-- <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"

    >
      <span class="navbar-toggler-icon  "></span>
    </button> -->
    <div class="navbar navbar-expand-lg navbar-light bg-dark container-fluid "  id="navbarNavDropdown">
      <ul class="navbar-nav ">
        @for (menu of menuItems; track $index) {
        <li class="nav-item text-warning" [class]="menu.classCss">
         <a class="nav-link text-warning" [routerLink]="menu.path">{{ menu.title }}</a>
        </li>
        @if (menu.subMenu.length > 0 ) {

        <!-- Este es el subMenu -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul class="dropdown-menu">
            @for (subMenu of menu.subMenu; track $index) {
            <li class="dropdown-item" [class]="subMenu.classCss">
              <i [class]="subMenu.icon"></i>
              <a [routerLink]="subMenu.path">{{ subMenu.title }}</a>
            </li>
            }
          </ul>
        </li>
        } }
      </ul>
    </div>
  </div>
</nav>
