<div class="nav_principal">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container overlay-content">
      <!-- <img src="../../../assets/image/logo.jpeg"  /> -->
      <div class="enlaces">
        <h1>MDS TECH</h1><HR>
      <ul class="navbar-nav">
        @for (menu of menuItems; track $index) {
        <li
          class="nav-item text-warning btn btn-custom"
          [class]="menu.classCss"
        >
          <a class="nav-link text-dark" [routerLink]="menu.path">{{
            menu.title
          }}</a>
        </li>
        @if (menu.subMenu.length > 0 ) {

        <!-- Este es el subMenu -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
          <ul class="dropdown-menu">
            @for (subMenu of menu.subMenu; track $index) {
            <li class="dropdown-item" [class]="subMenu.classCss">
              <i [class]="subMenu.icon"></i>
              <a [routerLink]="subMenu.path">{{ subMenu.title }}</a>
            </li>
            }
          </ul>
        </li>
        } }
      </ul></div>
    </div>
  </nav>
</div>





