

<body>
    <div class="container bg-dark">
        <header class="p-3 mb-3 border-bottom navbar">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <h1 class="my-0 me-md-auto"> CRM/MDSM </h1>

            </div>
        </header>

        <main>
            <div class="jumbotron text-white">
                <h1 class="display-4">¡Bienvenido a Mi CRM!</h1>
                <p class="lead">Una solución integral para gestionar tus relaciones con los clientes.</p>
                <hr class="my-4">
                <p>Regístrate ahora para comenzar a mejorar tu gestión de clientes.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Regístrate</a>
            </div>
        </main>

        <footer class="pt-3 mt-4 text-muted border-top footer">
            <div class="container">
                <p>&copy; 2024 Mi CRM - Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
    
</body>
