        section{
          background-color: #007bff;
          margin: 0px;
        }

       .navbar-dark .navbar-nav .nav-link {
            color: #464343;
            transition: color 0.3s ease;

        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #007bff;
        }
        .hero-section {
            padding: 50px 0;
            background: #c5f006;
            text-align: center;
            margin-bottom: 4;
            width: 100%;
        }
        .hero-section h1 {
            font-size: 3rem;
          }
        .hero-section p {
            font-size: 1.2rem;
            margin-bottom: 0px;
            position: inherit;
        }
        .services-section {
            padding: 50px 0;
        }
        .service-box {
            background: #c5f80d;
            padding: 30px;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
        .service-box:hover {
            transform: translateY(-8px);
        }
