 <footer class=" footer bg-dark text-white pt-5 mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Sobre nosotros</h5>
                    <p>Somos una empresa dedicada a proporcionar soluciones tecnológicas innovadoras.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Navegación</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Casos de exito</a></li>
                        <li><a href="#" class="text-white">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Síguenos</h5>
                    <a href="#" class="text-white mr-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="text-center py-2">
                &copy; 2024 MDS TECHNOLOGY . Todos los derechos reservados.
            </div>
        </div>
    </footer>
